<div class="my-3 flex justify-between flex-wrap">
  <button class="m-2" mat-raised-button>Button Basic</button>
  <button class="m-2" mat-raised-button color="primary">Button Primary</button>
  <button class="m-2" mat-raised-button color="accent">Button Accent</button>
  <button class="m-2" mat-raised-button color="warn">Button Warn</button>
  <button class="m-2" mat-raised-button disabled>Button Disabled</button>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <button class="m-2" mat-button>Button Basic</button>
  <button class="m-2" mat-button color="primary">Button Primary</button>
  <button class="m-2" mat-button color="accent">Button Accent</button>
  <button class="m-2" mat-button color="warn">Button Warn</button>
  <button class="m-2" mat-button disabled>Button Disabled</button>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <button class="m-2" mat-stroked-button>Button Basic</button>
  <button class="m-2" mat-stroked-button color="primary">Button Primary</button>
  <button class="m-2" mat-stroked-button color="accent">Button Accent</button>
  <button class="m-2" mat-stroked-button color="warn">Button Warn</button>
  <button class="m-2" mat-stroked-button disabled>Button Disabled</button>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <mat-checkbox class="example-margin">Check me! Basic</mat-checkbox>
  <mat-checkbox class="example-margin" color="primary"
    >Check me! Primary</mat-checkbox
  >
  <mat-checkbox class="example-margin" color="accent"
    >Check me! Accent</mat-checkbox
  >
  <mat-checkbox class="example-margin" color="warn"
    >Check me! Warn</mat-checkbox
  >
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <mat-form-field>
    <mat-label>Cars</mat-label>
    <mat-select matNativeControl required>
      <mat-option value="volvo">Volvo</mat-option>
      <mat-option value="saab">Saab</mat-option>
      <mat-option value="mercedes">Mercedes</mat-option>
      <mat-option value="audi">Audi</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" />
      <input matEndDate placeholder="End date" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker color="accent"></mat-date-range-picker>
  </mat-form-field>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
</div>

<!-- <mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <app-custom-input [(ngModel)]="texto"></app-custom-input>
  <div>{{ texto }}</div>
</div> -->

<mat-divider></mat-divider>
<div class="my-3 flex justify-between flex-wrap">
  <form [formGroup]="formAng">
    <app-custom-input formControlName="texto"></app-custom-input>
  </form>
  {{ formAng.value | json }}
</div>
