// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $angular-custom-theme-primary: mat.define-palette(mat.$indigo-palette);
// $angular-custom-theme-accent: mat.define-palette(
//   mat.$pink-palette,
//   A200,
//   A100,
//   A400
// );

// The warn palette is optional (defaults to red).
// $angular-custom-theme-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $angular-custom-theme-theme: mat.define-light-theme(
//   (
//     color: (
//       primary: $angular-custom-theme-primary,
//       accent: $angular-custom-theme-accent,
//       warn: $angular-custom-theme-warn,
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
//   )
// );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($angular-custom-theme-theme);

/* You can add global styles to this file, and also import other style files */

// $my-palette-color: (
//   50: red,
//   100: blue,
//   contrast: (
//     50: green,
//     100: lightblue,
//   ),
// );

$my-primary: mat.define-palette(mat.$red-palette, 900);
$my-warn: mat.define-palette(mat.$teal-palette, 600);
$my-accent: mat.define-palette(mat.$purple-palette, 900);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    // density: -2,
  )
);

@include mat.core-theme($my-theme);
// @include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

button[mat-raised-button],
button[mat-stroked-button],
button[mat-button] {
  @include mat.elevation(0);
  border-radius: 2px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
